{% extends "smallpage.html" %}

{% block pagecontent %}
<ul class="linkList">
    <li>
        <a href="{{ url_for('github.login') }}">
            <span>Log in with Github</span>
            <span class="icon">
                <i class="fas fa-arrow-right"></i>
            </span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('mymlh.login') }}">
            <span>Log in with MyMLH</span>
            <span class="icon">
                <i class="fas fa-arrow-right"></i>
            </span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('auth.profile') }}">
            <span>Log in as an admin</span>
            <span class="icon">
                <i class="fas fa-arrow-right"></i>
            </span>
        </a>
    </li>
</ul>
{% endblock %}