{% extends "dashboard/base.html" %}

{% macro make_tag(name, value) %}
{% if value == 1 %}
<span class="tag is-success">
    {{ name }}&nbsp;&nbsp;
    <i class="fas fa-check"></i>
</span>
{% else %}
<span class="tag is-danger">
    {{ name }}&nbsp;&nbsp;
    <i class="fas fa-times"></i>
</span>
{% endif %}
{% endmacro %}

{% macro make_ratebtn(value) %}
<p class="control">
    <button class="button is-medium {% if previousVote and previousVote.value == value %}is-success{% endif %}"
        data-rating-val="{{value}}">
        <span>{{ value }}</span>
    </button>
</p>
{% endmacro %}

{% macro make_rating(email, name, rating) %}
<tr>
    <td>
        {{ name }}
    </td>
    <td class="flex-row">
        {% for i in range(rating) %}
        <span class="icon has-text-warning">
            <i class="fas fa-star"></i>
        </span>
        {% endfor %}
        {% for i in range(5 - rating) %}
        <span class="icon">
            <i class="far fa-star"></i>
        </span>
        {% endfor %}
    </td>

</tr>
{% endmacro %}

{% macro make_rateinput(value) %}
<input type="radio" id="ratingRadio" name="rating" value="{{ value }}">
{% endmacro %}

{% block dashboard_content %}

{% if flow %}
<div class="flow_header has-background-dark">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="level-item has-text-left">
                    <h1 class="subtitle">Flow voting: <strong>{{ flow_votes_total - flow_votes_completed }}</strong>
                        remaining (<strong>{{flow_votes_percentage}}% done</strong>).</h1>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <progress value="{{ flow_votes_completed }}" max="{{ flow_votes_total }}"
                        class="progress is-success"></progress>
                </div>
            </div>

        </div>
    </div>
</div>
{% endif %}

<div class="container">

    <div class="applicant__rating_row">
        {% if applicant['completed'] or (applicant['first_name'] and applicant['last_name']) %}
        {% if session.redacted %}
        <h1 class="is-size-1 is-blurred">{{ applicant['first_name'] }} {{ applicant['last_name'] }}</h1>
        {% else %}
        <h1 class="is-size-1">{{ applicant['first_name'] }} {{ applicant['last_name'] }}</h1>
        {% endif %}
        {% else %}
        <h1 class="is-blurred is-size-1">No Name Provided</h1>
        {% endif %}

        <span class="has-text-weight-bold applicant__rating">
            <span class="is-size-3">{{ voteaverage }}/5.0</span>
            <span class="is-size-6">({{ votes|length }} votes)</span>
        </span>

    </div>
    <h2 class="subtitle">
        <span
            class="{% if session.redacted %}is-blurred{% endif %}">{{ applicant['email'] }}</span>{% if applicant.completed %}
        &bull; {{ applicant.school }}{% endif %}
    </h2>

    <div class="tags are-medium">
        {{ make_tag('verified', applicant['verified']) }}
        {{ make_tag('completed', applicant['completed']) }}
        {% if not applicant['completed'] %}
        <span class="tag is-warning">
            adult&nbsp;&nbsp;
            <i class="fas fa-question"></i>
        </span>
        {% else %}
        {{ make_tag('adult', applicant['adult']) }}
        {{ make_tag('vaccinated', applicant['vaccinated']) }}
        {% endif %}
        {{ make_tag('admitted', applicant['admitted']) }}
    </div>

    <div class="columns applicant__main">
        <div class="column is-two-thirds">
            {% if applicant.completed %}
            <h2 class="title is-2">Basic Information</h2>
            <table class="table is-fullwidth is-hoverable">
                <tbody>
                    <tr>
                        <td>University</td>
                        <td>{{ applicant.school }}</td>
                    </tr>
                    <tr>
                        <td>Graduation Year</td>
                        <td>{{ applicant.grad_year }}</td>
                    </tr>
                    <tr>
                        <td>Login Email</td>
                        <td>{{ applicant.email }}</td>
                    </tr>
                    <tr>
                        <td>Contact Email</td>
                        <td>{{ applicant.contact_email }}</td>
                    </tr>
                    <tr>
                        <td>Resume</td>
                        <td>{% if applicant.resume %}
                            <a href="{{ applicant.resume }}" target="_blank">{{applicant.resume}}</a>
                            {% else %}
                            Not provided.
                            {% endif %}</td>
                    </tr>
                    <tr>
                        <td>Submitted</td>
                        <td>{{ timestamp }}</td>
                    </tr>
                    <tr>
                        <td>Shirt Size</td>
                        <td>{{ applicant.shirt_size }}</td>
                    </tr>
                    <tr>
                        <td>Dietary Requirements</td>
                        <td>{{ applicant.allergens }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="block">
                <details>
                    <summary><span class="subtitle">Address info</span></summary>
                    <pre>{{ applicant.first_name }} {{ applicant.last_name }}
{{ applicant.address_line_1 }}{% if applicant.address_line_2 %}
{{ applicant.address_line_2 }}{% endif %}{% if applicant.address_line_3 %}
{{ applicant.address_line_3 }}{% endif %}
{{ applicant.address_city }}, {{ applicant.address_region }}
{{ applicant.address_country }} {{ applicant.address_pcode }}</pre>
                </details>
            </div>

            <div class="block">
                <details>
                    <summary><span class="subtitle">Authorizations</span></summary>
                    <span>Required:</span>
                    <div class="tags">
                        {{ make_tag('HTB Admin', applicant['gdpr']) }}
                        {{ make_tag('MLH Admin', applicant['mlh_admin']) }}
                        {{ make_tag('HackUK Admin', applicant['hackuk_admin']) }}
                        {{ make_tag('MLH COC', applicant['mlh_coc']) }}
                    </div>
                    <span>Optional:</span>
                    <div class="tags">
                        {{ make_tag('Share with sponsors?', applicant['gdpr_sponsor']) }}
                        {{ make_tag('MLH Email', applicant['mlh_email']) }}
                        {{ make_tag('HackUK Email', applicant['hackuk_email']) }}
                    </div>
                </details>
            </div>

            <div class="block">
                <details>
                    <summary><span class="subtitle">All Information</span></summary>
                    <pre>{{ applicant_txt }}</pre>
                </details>
            </div>

            <h2 class="title is-2 has-margin-top--1em">Short Answers</h2>
            <div class="block">
                <h3 class="subtitle">Why are you excited about Hack the Burgh?</h3>
                <p style="word-wrap: anywhere;">
                    {{ description|safe }}
                </p>
            </div>

            <div class="block">
                <h3 class="subtitle"> Describe an interesting project you've been involved in. </h3>
                <p style="word-wrap: anywhere;">
                    {{ essay|safe }}
                </p>
            </div>
            {% else %}
            <div class="applicant__incompletebody">
                <span class="is-size-4 is-italic">Application Incomplete</span>
            </div>
            {% endif %}
        </div>
        <div class="column">
            <h4 class="title is-4">Vote History</h4>
            {% if votes %}
            <table class="table table-fullwidth">
                <tbody>
                    {% for vote in votes %}
                    {{ make_rating(vote.author_email, vote.author, vote.rating) }}
                    {% endfor %}
                </tbody>

            </table>
            {% else %}
            <p>No votes yet.</p>
            {% endif %}
        </div>
    </div>

    <div class="applicant__bottompin">
        <form id="rating" {% if flow %}action="{{ url_for('actions.submit_vote') }}?flow=1"
            {% else %}action="{{ url_for('actions.submit_vote') }}" {% endif %} method="POST">
            <div class="columns">

                <div class="column is-half flex-row">
                    <div class="field has-addons">
                        {{ make_ratebtn(1) }}
                        {{ make_ratebtn(2) }}
                        {{ make_ratebtn(3) }}
                        {{ make_ratebtn(4) }}
                        {{ make_ratebtn(5) }}

                        <div class="is-hidden">
                            {{ make_rateinput(1) }}
                            {{ make_rateinput(2) }}
                            {{ make_rateinput(3) }}
                            {{ make_rateinput(4) }}
                            {{ make_rateinput(5) }}

                            <input name="user_id" type="text" value="{{ applicant.user_id }}" />
                            <input name="id" type="text" value="{{ applicant.id }}" />
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="votingButtons">
                        <span class="applicant__votename">Voting as <strong>{{ session['name'] }}</strong></span>

                        {% if previousVote %}
                        <button type="submit" class="button is-medium is-warning">
                            <span>
                                Change Vote
                            </span>
                            <span class="icon">
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </button>
                        {% else %}
                        <button type="submit" class="button is-medium is-primary">
                            <span>
                                Submit Vote
                            </span>
                            <span class="icon">
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<script type="text/javascript">
    const radioClickHandler = (element) => {
        element.addEventListener('click', el => {
            el.preventDefault()

            const btns = document.querySelectorAll('[data-rating-val]')
            btns.forEach(e => e.classList.remove('is-success'))

            document.querySelector(`[data-rating-val="${element.dataset.ratingVal}"]`)
                .classList.add('is-success')

            document.querySelector(`[name="rating"][value="${element.dataset.ratingVal}"]`)
                .checked = true

        })
    }

    let btns = document.querySelectorAll('[data-rating-val]')
    btns.forEach(e => radioClickHandler(e))

    {% if previousVote %}
    document.querySelector(`[name="rating"][value="{{ previousVote.value }}"`).checked = true;
    {% endif %}
</script>

<script type="text/javascript">
    document.body.addEventListener('keyup', e => {
        if (e.keyCode === 49) {
            document.querySelector('[data-rating-val="1"]').click()
        } else if (e.keyCode === 50) {
            document.querySelector('[data-rating-val="2"]').click()
        } else if (e.keyCode === 51) {
            document.querySelector('[data-rating-val="3"]').click()
        } else if (e.keyCode === 52) {
            document.querySelector('[data-rating-val="4"]').click()
        } else if (e.keyCode === 53) {
            document.querySelector('[data-rating-val="5"]').click()
        } else if (e.keyCode === 13) {
            document.querySelector('button[type="submit"]').click()
        }
    })
</script>

{% endblock %}