{% extends "dashboard/base.html" %}

{% macro make_tag(name, value) %}
{% if value == 1 %}
<span class="tag is-success">
    {{ name }}&nbsp;&nbsp;
    <i class="fas fa-check"></i>
</span>
{% else %}
<span class="tag is-danger">
    {{ name }}&nbsp;&nbsp;
    <i class="fas fa-times"></i>
</span>
{% endif %}
{% endmacro %}

{% macro make_ratebtn(value) %}
<p class="control">
    <button class="button is-medium {% if previousVote and previousVote.value == value %}is-success{% endif %}"
        data-rating-val="{{value}}">
        <span>{{ value }}</span>
    </button>
</p>
{% endmacro %}

{% macro make_rating(email, name, rating) %}
<div>
    <strong>
        <abbr title="{{ email }}">{{ name }}</abbr>
    </strong>
    <div class="flex-row">
        {% for i in range(rating) %}
        <span class="icon has-text-warning">
            <i class="fas fa-star"></i>
        </span>
        {% endfor %}
        {% for i in range(5 - rating) %}
        <span class="icon">
            <i class="far fa-star"></i>
        </span>
        {% endfor %}
    </div>

</div>
{% endmacro %}

{% macro make_rateinput(value) %}
<input type="radio" id="ratingRadio" name="rating" value="{{ value }}">
{% endmacro %}

{% block dashboard_content %}

{% if flow %}
<div class="flow_header has-background-light">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                <h1 class="subtitle">Flow voting: <strong>{{ flow_votes_total - flow_votes_completed }}</strong>
                    remaining (<strong>{{flow_votes_percentage}}% done</strong>).</h1>
            </div>
            <div class="column">
                <progress value="{{ flow_votes_completed }}" max="{{ flow_votes_total }}"
                    class="progress is-link flow-header__progress"></progress>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container">

    <div class="applicant__rating_row">
        {% if applicant['completed'] or (applicant['first_name'] and applicant['last_name']) %}
        {% if session.redacted %}
        <h1 class="is-size-1 is-blurred">{{ applicant['first_name'] }} {{ applicant['last_name'] }}</h1>
        {% else %}
        <h1 class="is-size-1">{{ applicant['first_name'] }} {{ applicant['last_name'] }}</h1>
        {% endif %}
        {% else %}
        <h1 class="is-blurred is-size-1">No Name Provided</h1>
        {% endif %}

        <span class="has-text-weight-bold applicant__rating">
            <span class="is-size-3">{{ voteaverage }}/5</span>
            <span class="is-size-6">({{ votes|length }} votes)</span>
        </span>

    </div>
    <h2 class="subtitle">
        <span
            class="{% if session.redacted %}is-blurred{% endif %}">{{ applicant['email'] }}</span>{% if applicant.completed %}
        &bull; {{ applicant.school }}{% endif %}
    </h2>

    <div class="tags are-medium">
        {{ make_tag('verified', applicant['verified']) }}
        {{ make_tag('completed', applicant['completed']) }}
        {% if not applicant['completed'] %}
        <span class="tag is-warning">
            adult&nbsp;&nbsp;
            <i class="fas fa-question"></i>
        </span>
        {% else %}
        {{ make_tag('adult', applicant['adult']) }}
        {% endif %}
        {{ make_tag('admitted', applicant['admitted']) }}
    </div>

    <div class="columns applicant__main">
        <div class="column is-two-thirds">
            {% if applicant.completed %}
            <h4 class="title is-4">Basic Information</h4>
            <p>
                <strong>University: </strong> {{ applicant.school }} <br />
                <strong>Grad Year: </strong> {{ applicant.gradYear }} <br />
                {# <strong>Gender: </strong> <span class="{% if session.redacted %}is-blurred{% endif %}">{{ applicant.gender }}</span> <br/> #}
                <strong>Login email:</strong> {{applicant.email }} <br />
                <strong>Contact email:</strong> {{applicant.contact_email }} <br />
                {% if applicant.resume %}
                <strong>Resume:</strong> <a href="{{ applicant.resume }}" target="_blank">{{applicant.resume}}</a>
                <br />
                {% else %}
                <strong>Resume:</strong> <i>Not provided.</i> <br />
                {% endif %}
                <strong>Submitted: </strong> {{ timestamp }}

                <details>
                    <summary><strong>Address info</strong></summary>
                    <pre>{{ applicant.first_name }} {{ applicant.last_name }}
{{ applicant.address_line_1 }}{% if applicant.address_line_2 %}
{{ applicant.address_line_2 }}{% endif %}{% if applicant.address_line_3 %}
{{ applicant.address_line_3 }}{% endif %}
{{ applicant.address_city }}, {{ applicant.address_region }}
{{ applicant.address_country }} {{ applicant.address_pcode }}</pre>
                </details>
                <details>
                    <summary><strong>Authorizations</strong></summary>
                    <strong>Required:</strong>
                    <div class="tags" style="margin-bottom: 0px;">
                        {{ make_tag('HTB Admin', applicant['gdpr']) }}
                        {{ make_tag('MLH Admin', applicant['mlh_admin']) }}
                        {{ make_tag('HackUK Admin', applicant['hackuk_admin']) }}
                        {{ make_tag('MLH COC', applicant['mlh_coc']) }}
                    </div>
                    <strong>Optional:</strong>
                    <div class="tags">
                        {{ make_tag('Share with sponsors?', applicant['gdpr_sponsor']) }}
                        {{ make_tag('MLH Email', applicant['mlh_email']) }}
                        {{ make_tag('HackUK Email', applicant['hackuk_email']) }}
                    </div>
                </details>
                <details>
                    <summary><strong>All Information</strong></summary>
                    <pre>{{ applicant_txt }}</pre>
                </details>

            </p>
            <h4 class="title is-4 has-margin-top--1em">Short Answers</h4>
            <strong>Why are you excited about Hack the Burgh?</strong>
            <p>
                {{ description|safe }}
            </p>
            <br />
            <strong> Describe an interesting project you've been involved in. </strong>
            <p>
                {{ essay|safe }}
            </p>
            {% else %}
            <div class="applicant__incompletebody">
                <span class="is-size-4 is-italic">application incomplete</span>
            </div>
            {% endif %}
        </div>
        <div class="column">
            <h4 class="title is-4">Vote History</h4>
            {% if votes %}
            {% for vote in votes %}
            {{ make_rating(vote.author_email, vote.author, vote.rating) }}
            {% endfor %}
            {% else %}
            <i> no votes yet. </i>
            {% endif %}
        </div>
    </div>

    <div class="applicant__bottompin_margin"></div>


    <div class="applicant__bottompin has-background-light">
        <form class="applicant__rating_row" id="rating"
            {% if flow %}action="{{ url_for('actions.submit_vote') }}?flow=1"
            {% else %}action="{{ url_for('actions.submit_vote') }}" {% endif %} method="POST">
            <div class="flex-row">

                <div class="field has-addons">
                    {{ make_ratebtn(1) }}
                    {{ make_ratebtn(2) }}
                    {{ make_ratebtn(3) }}
                    {{ make_ratebtn(4) }}
                    {{ make_ratebtn(5) }}

                    <div class="is-hidden">
                        {{ make_rateinput(1) }}
                        {{ make_rateinput(2) }}
                        {{ make_rateinput(3) }}
                        {{ make_rateinput(4) }}
                        {{ make_rateinput(5) }}

                        <input name="user_id" type="text" value="{{ applicant.user_id }}" />
                        <input name="id" type="text" value="{{ applicant.id }}" />
                    </div>
                </div>
            </div>
            <div class="flex-row applicant__votebtnrow">
                <span class="applicant__votename"> Voting as <strong>{{ session['name'] }}</strong></span>
                {% if previousVote %}
                <button type="submit" class="button is-medium is-warning">
                    <span>
                        Change Vote
                    </span>
                    <span class="icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </button>
                {% else %}
                <button type="submit" class="button is-medium is-primary">
                    <span>
                        Submit Vote
                    </span>
                    <span class="icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </button>
                {% endif %}
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    const radioClickHandler = (element) => {
        element.addEventListener('click', el => {
            el.preventDefault()

            const btns = document.querySelectorAll('[data-rating-val]')
            btns.forEach(e => e.classList.remove('is-success'))

            document.querySelector(`[data-rating-val="${element.dataset.ratingVal}"]`)
                .classList.add('is-success')

            document.querySelector(`[name="rating"][value="${element.dataset.ratingVal}"]`)
                .checked = true

        })
    }

    let btns = document.querySelectorAll('[data-rating-val]')
    btns.forEach(e => radioClickHandler(e))

    {
        %
        if previousVote %
    }
    document.querySelector(`[name="rating"][value="{{ previousVote.value }}"`).checked = true {
        % endif %
    }
</script>

<script type="text/javascript">
    document.body.addEventListener('keyup', e => {
        if (e.keyCode === 49) {
            document.querySelector('[data-rating-val="1"]').click()
        } else if (e.keyCode === 50) {
            document.querySelector('[data-rating-val="2"]').click()
        } else if (e.keyCode === 51) {
            document.querySelector('[data-rating-val="3"]').click()
        } else if (e.keyCode === 52) {
            document.querySelector('[data-rating-val="4"]').click()
        } else if (e.keyCode === 53) {
            document.querySelector('[data-rating-val="5"]').click()
        } else if (e.keyCode === 13) {
            document.querySelector('button[type="submit"]').click()
        }
    })
</script>

{% endblock %}