{% extends "dashboard/base.html" %}

{% block dashboard_content %}

<div class="container">
    <h1 class="is-size-1">Event Information</h1>
    <h2 class="subtitle">Get/set general event information.</h2>

    <form action="{{ url_for('actions.update_cfg') }}" method="POST">
        <div class="field">
            <label class="label">Applications open (ISO 8601)</label>
            <div class="control">
                <input class="input" type="text" placeholder="{{ strtimes['applications_open'] }}" name="applications_open" value="{{ strtimes['applications_open'] }}" required autocomplete="off">
            </div>
        </div>

        <div class="field">
            <label class="label">Applications close (ISO 8601)</label>
            <div class="control">
                <input class="input" type="text" placeholder="{{ strtimes['applications_dline'] }}" name="applications_dline" value="{{ strtimes['applications_dline'] }}" required autocomplete="off">
            </div>
        </div>

        <div class="field">
            <label class="label">Event starts (ISO 8601)</label>
            <div class="control">
                <input class="input" type="text" placeholder="{{ strtimes['event_start'] }}" name="event_start" value="{{ strtimes['event_start'] }}" required autocomplete="off">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button type="submit" class="button">Update</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
