{% extends "dashboard/base.html" %}

{% block dashboard_content %}

<div class="container">
    <h1 class="title">Export controls</h1>
    <h2 class="subtitle">Gets the data off this application.</h2>

    <div class="box">
        <h1 class="is-size-3">Download CSV</h1>
        <p>
            This control exposes a download of the applicants database, converted to a spreadsheet. Doing this exposes
            personal information, so do so with caution.
        </p>
        <p>
            <strong>Don't download this unless you're sure you need it, and delete it as soon as you're done.</strong>
        </p>

        <br />

        <a class="button is-warning" href="{{url_for('actions.download_csv')}}" download>
            <span>Download</span>
            <span class="icon">
                <i class="fas fa-download"></i>
            </span>
        </a>

    </div>

    <div class="box">
        <h1 class="is-size-3">Download Full CSV</h1>
        <p>
            This control exposes a download of the applicants database, converted to a spreadsheet. Doing this exposes
            personal information, so do so with caution.
        </p>
        <p>
            Unlike above, this includes <strong>ALL</strong> information, including addresses and phone numbers.
        </p>
        <p>
            <strong>Don't download this unless you're sure you need it, and delete it as soon as you're done.</strong>
        </p>

        <a class="button is-warning" href="{{url_for('actions.download_csv')}}?sensitive=true" download>
            <span>Download</span>
            <span class="icon">
                <i class="fas fa-download"></i>
            </span>
        </a>

    </div>
</div>

{% endblock %}