{% extends "dashboard/base.html" %}

{% block dashboard_content %}

<div class="container">
    <h1 class="is-size-1">Metrics</h1>
    <h2 class="subtitle">Across this current instance. <a href="{{ url_for('dashboard.rate_queue')}}">Start voting <i
                class="fas fa-chevron-right"></i></a></h2>


    <div class="columns">
        <div class="column">
            <h1 class="is-size-2">{{ metrics.applicants.all }} users</h1>
            <h1 class="is-size-3">{{ metrics.applicants.verified }} verified</h1>
            <h1 class="is-size-3">{{ metrics.applicants.completed }} completed</h1>
        </div>
        <div class="column">
            <h1 class="is-size-2">{{ metrics.votes.all}} votes</h1>
            <h1 class="is-size-3">{{ metrics.votes.authors|length }} voter(s)</h1>
            <h1 class="is-size-3">Voters:</h1>
            <p>
                {% for voter in metrics.votes.authors %}
                {{ voter.name }}: <strong>{{ voter.count }} (avg: {{ voter.average }})</strong><br />
                {% else %}
                <i> No voters yet. </i>
                {% endfor %}
            </p>
        </div>
    </div>

</div>

{% endblock %}