{% extends "dashboard/base.html" %}

{% macro make_applicant(row) %}
<tr>
        <td>{{ row['name'] }}</td>
        <td>{{ row['email'] }}</td>
        <td>
            <a href="{{url_for('dashboard.applicant', mongo_id=row['mongo_id'])}}?flow=1">
                vote
            </a>
        </td>
</tr>
{% endmacro %}

{% block dashboard_content %}

<div class="container">
    <div class="flex-row is-space-between">
        <h1 class="is-size-1">Rate queue</h1>
        <a href="{{ url_for('dashboard.get_next_applicant') }}" class="button is-medium is-primary">
            <span>
                Start Voting
            </span>
            <span class="icon">
                <i class="fas fa-chevron-right"></i>
            </span>
        </a>
    </div>
    <h2 class="subtitle">Your personal voting queue.</h2>
    
    <p>
        <i>Remember, you can use your keyboard to vote! Number keys selects a value, and Enter submits.</i><br/>
        <a href="{{url_for('actions.toggle_hiding')}}">Click to toggle hiding names (currently {% if session['redacted'] %}enabled{% else %}disabled{% endif %}).</a></p>

    <div class="columns has-margin-top--1em">
        <div class="column">
            <h1 class="title">{{ targets|length }} Remaining</h1>
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Vote</th>
                    </tr>
                </thead>
                <tbody>
                    {% for app in targets %}
                        {{ make_applicant(app) }}
                    {% else %}
                        <tr>
                            <td colspan=2>
                                <i>None remaining. Good job!</i>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <h1 class="title">{{ done|length }} Votes</h1>
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Vote</th>
                    </tr>
                </thead>
                <tbody>
                    {% for app in done %}
                        {{ make_applicant(app) }}
                    {% else %}
                        <tr>
                            <td colspan=2>
                                <i>No votes yet.</i>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>

{% endblock %}

