{% extends "dashboard/base.html" %}

{% block dashboard_content %}

<div class="container">
    <h1 class="is-size-1">API Reference</h1>

    <div class="block box">
        <h1 class="title">Accessing the API</h1>

        <h2 class="subtitle">Bearer tokens</h2>
        <p>
            Each request must have a <a href="https://tools.ietf.org/html/rfc6750">bearer token</a> with the API key and API secret separated by a slash:<br/><br/>
            <pre>curl -H "Authorization: Bearer api_key/api_secret" https://register.2021.hacktheburgh.com{{ url_for('service_api.api_config') }}</pre><br/>
            For example, with API key <code>abcdef</code> and secret <code>1234567890</code>:<br/><br/>
            <pre>curl -H "Authorization: Bearer abcdef/1234567890" https://register.2021.hacktheburgh.com{{ url_for('service_api.api_config') }}</pre><br/>
        </p>

        <h1 class="title">Responses</h1>
        <h2 class="subtitle">General response type</h2>


        <p>
            The API will respond to requests with JSON for every request (except where noted otherwise. The <code>code</code> field mirrors the HTTP status code.
        </p>
        <br/>

        <div class="columns">
            <div class="column">
                <p>
                    <strong>Successful call</strong>
                    <pre>
{
    "ok": true,
    "code": 200,
    "data": { ... }
}</pre>
                </p>
                
            </div>
            <div class="column">
                <p>
                    <strong>Auth failure</strong>
                    <pre>
{
    "ok": false,
    "code": 401,
    "message": "unauthorized"
}</pre>
                </p>
            </div>
            <div class="column">
                <p>
                    <strong>404</strong>
                    <pre>
{
    "ok": false,
    "code": 404,
    "message": "method not found"
}</pre>
                </p>
            </div>
        </div>

        

    </div>

    {% for endpoint in endpoints %}
    <div class="block box">
        <h1 class="title">
            <code>{{ endpoint.url }}</code>
        </h1>

        <div class="content service_doc">
            {{ endpoint.doc|safe }}
        </div>
    </div>
    {% endfor %}

    <br/>

</div>

{% endblock %}
