main {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard__content {
    margin-top: 1rem;
}

.img-rounded {
    border-radius: 50%;
}

.is-unselectable {
    pointer-events: none;
}

nav + .notification {
    border-radius: 0;
}
