.smallpage .logo {
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 3rem;
}

.smallpage main {
    background: #222;
    padding: 2rem;
    border-radius: 2rem;
}

footer {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5rem;
}

.linkList {
    text-align: right;
}

#application .explanation {
    padding-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.logo.hackerPages {
    margin-bottom: 1rem;
    display: block;
}

.logo.hackerPages img {
    margin: 0 auto;
}

.flow_header {
    padding: 1rem 0;
}

.votingButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.votingButtons span {
    margin-right: 1rem;
}