 @import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
    margin: 0;
    background-color: #725752;

    font-family: 'Merriweather', serif;
}

main {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* -- LOGIN PAGE -- */

.login__bg {
}
.login {
    color: white;
    opacity: 0.7;

    transition: opacity 0.25s cubic-bezier(0,0,0.3,1);
    text-decoration: none;
}
.login > span {
    margin-right: 0.5em;
}
.login:hover {
    opacity: 1;
}

/* -- PROFILE -- */

.profile__bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    color: white;
    min-height: 100vh;
}

.profile__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile__img {
    width: 300px;
    height: 300px;
    margin-bottom: 1em;
}

.profile__status {
    margin: 1em 0 1em 0;
}

.profile__status--invalid {
    color: #ee6c4d;
}

.profile__status--valid {
    color: #98af57;
}

