{% extends "base.html" %}

{% block bulma_css %}
<link href="{{ url_for('static', filename='bulma_cyborg.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='hacker.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="notification {{ message.type }}">
    <button class="delete" onclick="closeNotification(this)"></button>
    {{ message.text }}
</div>
{% endfor %}
<script type="text/javascript">
    const closeNotification = e => e.parentElement.remove()
</script>

<section class="section">
    
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="block">
                    <h1 class="title">HTB7 Registration</h1>
                    <h2 class="subtitle">Logged in with {{ login_type }} &bull; <a href="{{ url_for('auth.hacker_logout') }}">Log out</a></h2>
                </div>
                <div class="block">
                    <ul>
                        <li>
                            <a href="{{ url_for('hacker.application') }}">
                                <span>Application</span>
                                <span class="icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('hacker.status') }}">
                                <span>Status</span>
                                <span class="icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('hacker.invites') }}">
                                <span>Invites</span>
                                <span class="icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column is-two-thirds">
                {% block hacker_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</section>


{% endblock %}
