{% extends "hacker/base.html" %}

{% block messages %}
{# dont show messages right on top #}
{% endblock %}

{% block hacker_content %}

<h1 class="title">Application</h1>
<h2 class="subtitle">{% if appl['completed'] == 1 %}<span class="has-text-success">Submitted
        {{ completed_time }}</span>{% else %}Not submitted{% endif %} &bull; <span class="is-size-6 is-italic">Required
        fields marked with an <span class="has-text-danger">*</span>.</span></h2>
{% for message in get_flashed_messages() %}
<div class="notification {{ message.type }}">
    <button class="delete" onclick="closeNotification(this)"></button>
    {{ message.text }}
</div>

{% endfor %}

<form action="{{ url_for('hacker.submit_application') }}" method="POST" id="application" enctype="multipart/form-data">
    <section class="section">
        <h2 class="title">Basic Info</h2>
        <p class="explanation">
            We need this so we can properly address you, and get in touch directly if we need to.
        </p>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">First Name<span class="has-text-danger">*</span></label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Hacker" name="first_name"
                            value="{{ appl['first_name'] }}" required autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Last Name<span class="has-text-danger">*</span></label>
                    <div class="control">
                        <input class="input" type="text" placeholder="McHackerton" name="last_name"
                            value="{{ appl['last_name'] }}" required autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Email<span class="has-text-danger">*</span></label>
            <div class="control has-icons-left">
                <input class="input" type="email" placeholder="hacker@hacktheburgh.com" name="contact_email"
                    value="{{ appl['contact_email'] }}" required autocomplete="off">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>
    </section>

    <section class="section">
        <h2 class="title">Student Status</h2>
        <p class="explanation">
            Hack the Burgh is only open to students, so we need to know where you study.
            You don't need to study computer science, or be in Scotland.
        </p>
        <div class="columns">
            <div class="column is-two-thirds">
                <div class="field">
                    <label class="label">University Name<span class="has-text-danger">*</span></label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" placeholder="Hacker University" name="school"
                            value="{{ appl['school'] or '' }}" required autocomplete="off">
                        <span class="icon is-small is-left">
                            <i class="fas fa-university"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Grad. Year<span class="has-text-danger">*</span></label>
                    <div class="control">
                        <div class="select">
                            <select name="gradYear" required>
                                <option {% if appl['gradYear'] == '' %}selected{% endif %} disabled hidden value="">
                                    Select
                                </option>
                                <option {% if appl['gradYear'] == '2026' %}selected{% endif %} value="2026">2026
                                </option>
                                <option {% if appl['gradYear'] == '2025' %}selected{% endif %} value="2025">2025
                                </option>
                                <option {% if appl['gradYear'] == '2024' %}selected{% endif %} value="2024">2024
                                </option>
                                <option {% if appl['gradYear'] == '2023' %}selected{% endif %} value="2023">2023
                                </option>
                                <option {% if appl['gradYear'] == '2022' %}selected{% endif %} value="2022">2022
                                </option>
                                <option {% if appl['gradYear'] == '2021' %}selected{% endif %} value="2021">2021
                                </option>
                                <option {% if appl['gradYear'] == '2020' %}selected{% endif %} value="2020">2020
                                </option>
                                <option {% if appl['gradYear'] == '2019' %}selected{% endif %} value="2019">2019
                                </option>
                                <option {% if appl['gradYear'] == '2018' %}selected{% endif %} value="2018">2018
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">T-Shirt Size<span class="has-text-danger">*</span></label>
            <div class="control">
                <div class="select">
                    <select name="shirt_size" required>
                        <option {% if appl['shirt_size'] == '' %}selected{% endif %} disabled hidden value="">Select
                        </option>
                        <option {% if appl['shirt_size'] == 'xs'  %}selected{% endif %} value="xs">XS</option>
                        <option {% if appl['shirt_size'] == 's'   %}selected{% endif %} value="s">S</option>
                        <option {% if appl['shirt_size'] == 'm'   %}selected{% endif %} value="m">M</option>
                        <option {% if appl['shirt_size'] == 'l'   %}selected{% endif %} value="l">L</option>
                        <option {% if appl['shirt_size'] == 'xl'  %}selected{% endif %} value="xl">XL</option>
                    </select>
                </div>
            </div>
        </div>
    </section>

    <section class="section">

        <h2 class="title">Address Info</h2>
        <p class="explanation">We need this so we can send you merch/prizes.</p>
        <div class="field">
            <label class="label">Address Line 1<span class="has-text-danger">*</span></label>
            <div class="control">
                <input class="input" type="text" placeholder="1337 Hacker Way" name="address_line_1"
                    value="{{ appl['address_line_1'] }}" required autocomplete="off">
            </div>
        </div>
        <div class="field">
            <label class="label">Address Line 2</label>
            <div class="control">
                <input class="input" type="text" placeholder="Apt 1a" name="address_line_2"
                    value="{{ appl['address_line_2'] }}" autocomplete="off">
            </div>
        </div>
        <div class="field">
            <label class="label">Address Line 3</label>
            <div class="control">
                <input class="input" type="text" placeholder="" name="address_line_3"
                    value="{{ appl['address_line_3'] }}" autocomplete="off">
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">City<span class="has-text-danger">*</span></label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Hackville" name="address_city"
                            value="{{ appl['address_city'] }}" required autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Region<span class="has-text-danger">*</span></label>
                    <div class="control">
                        <input class="input" type="text" placeholder="McHackerton" name="address_region"
                            value="{{ appl['address_region'] }}" required autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-two-thirds">
                <div class="field">
                    <label class="label">Country<span class="has-text-danger">*</span></label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Scotland" name="address_country"
                            value="{{ appl['address_country'] }}" required autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Postcode<span class="has-text-danger">*</span></label>
                    <div class="control">
                        <input class="input" type="text" placeholder="EH8 9LE" name="address_pcode"
                            value="{{ appl['address_pcode'] }}" required autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Phone Number<span class="has-text-danger">*</span></label>
            <div class="control">
                <input class="input" type="tel" placeholder="+44 (0) 1234 567890" name="phone"
                    value="{{ appl['address_phone'] }}" required autocomplete="off">
            </div>
        </div>
    </section>

    <section class="section">

        <h2 class="title">Short Answers</h2>
        <div class="field">
            <label class="label">Why are you excited about Hack the Burgh?&nbsp;<span class="has-text-danger">*</span></label>
            <div class="control">
                <textarea required class="textarea" placeholder="Type here!"
                    name="description">{{ appl['description'] }}</textarea>
            </div>
        </div>

        <div class="field">
            <label class="label">Describe an interesting project you've been involved in.&nbsp;<span class="has-text-danger">*</span></label>
            <div class="control">
                <textarea required class="textarea" name="essay" placeholder="One time I was...">{{appl['essay']}}</textarea>
            </div>
        </div>


        <div class="field">
            <label class="label">Upload your CV/Resume to share with our sponsors. (PDF, max 15MB)</label>
            <div class="control">
                <div class="level">
                    <div class="level-left">
                        <div class="file has-name" id="file-resume">
                            <label class="file-label">
                                <input class="file-input" type="file" name="resume" accept=".pdf,application/pdf">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a file…
                                    </span>
                                </span>
                                <span class="file-name">
                                    No file chosen
                                </span>
                            </label>
                        </div>
                        {% if appl['resume'] %}
                        <a href="{{ url_for('hacker.show_resume') }}" class="button is-link" style="margin-left: 1em"
                            target="_blank">
                            <span>View uploaded</span>
                            <div class="icon">
                                <i class="fas fa-external-link-alt"></i>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                    {% if appl['resume'] %}
                    <div class="level-right">
                        <a href="{{ url_for('hacker.delete_resume') }}" class="button is-danger">
                            <span>Delete</span>
                            <div class="icon">
                                <i class="fas fa-trash"></i>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>


    </section>


    <section class="sections">
        <h2 class="title">Authorisations</h2>
        <h2 class="subtitle">Mandatory</h2>
        <div class="field mb-3">
            <label class="checkbox">
                <input type="checkbox" name="mlh_coc" {% if appl['mlh_coc'] == 1 %}checked{% endif %} required>
                I have read and agree to the <a href="//mlh.io/code-of-conduct" target="_blank">code of conduct</a>.
                <span class="has-text-danger">*</span>
            </label>
        </div>
        <div class="field mb-3">
            <label class="checkbox">
                <input type="checkbox" name="gdpr" {% if appl['gdpr'] == 1 %}checked{% endif %} required>
                I agree to the Hack the Burgh <a href="https://www.eusa.ed.ac.uk/about/privacypolicy">privacy
                    policy</a>, and authorise Hack the Burgh to process my registration information for the
                purposes of event organisation and to ship merch.
                <span class="has-text-danger">*</span>
            </label>
        </div>

        <div class="field mb-3">
            <label class="checkbox">
                <input type="checkbox" name="mlh_admin" {% if appl['mlh_admin'] == 1 %}checked{% endif %} required>
                I authorise you to share my application/registration information with Major League Hacking for event
                administration, ranking, and MLH administration in-line with the MLH Privacy Policy. I further agree
                to
                the terms of both the MLH Contest Terms and Conditions and the MLH Privacy Policy.
                <span class="has-text-danger">*</span>
            </label>
        </div>



        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" name="hackuk_admin" {% if appl['hackuk_admin'] == 1 %}checked{% endif %}
                        required>
                    I authorise you to share my application/registration information with <a
                        href="https://hackathons.org.uk/" target="_blank">Hackathons UK Limited</a> for event
                    administration, Hackathons UK Limited administration, and with my authorisation email in-line with
                    the
                    Hackathons UK Limited <a href="https://hackuk.org/privacy" target="_blank">Privacy Policy</a>.
                    <span class="has-text-danger">*</span>
                </label>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" name="adult" {% if appl['adult'] == 1 %}checked{% endif %}>
                    I am 18 years of age or older (or will be at the time of the event).
                    <span class="has-text-danger">*</span>
                </label>
            </div>
        </div>

        <h2 class="subtitle">Marketing (Optional)</h2>

        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" name="gdpr_sponsor" {% if appl['gdpr_sponsor'] == 1 %}checked{% endif %}>
                    I authorise Hack the Burgh to send my application information and CV to sponsors.
                </label>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" name="mlh_email" {% if appl['mlh_email'] == 1 %}checked{% endif %}>
                    I authorise MLH to send me pre- and post-event informational emails, which contain free credit and
                    opportunities from their partners.
                </label>
            </div>
        </div>


        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" name="hackuk_email" {% if appl['hackuk_email'] == 1 %}checked{% endif %}>
                    I authorise Hackathons UK Limited to send me occasional messages about hackathons and their
                    activities.
                </label>
            </div>
        </div>
    </section>

    <section class="section">
        <p class="explanation">
            We take every care to ensure your data is kept securely, and will only use it in the ways that you've
            authorised above. Whilst we won't keep data for long after the event, some of our partners might,
            particularly email.
            If you have any questions or concerns about how we handle your data, please email <a
                href="mailto:hello@hacktheburgh.com">hello@hacktheburgh.com</a>.
        </p>
        <div class="field is-grouped">
            {% if appl['completed'] == 1 %}
            <div class="control">
                <button type="submit" class="button is-primary">Update Application</button>
            </div>
            {% else %}
            <div class="control">
                <button type="button" class="button" id="save-button">Save</button>
            </div>
            <div class="control">
                <button type="submit" class="button is-link">Submit</button>
            </div>
            {% endif %}
        </div>
    </section>

</form>


{% if appl['completed'] != 1 %}
<script type="text/javascript">
    document.querySelector('#save-button')
        .addEventListener('click', e => {
            e.preventDefault()
            const form = document.querySelector('form#application')

            form
                .querySelectorAll('input')
                .forEach(el => {
                    el.removeAttribute('required')
                })

            form.setAttribute('action', "{{ url_for('hacker.save_application') }}")

            form.submit()
        })
</script>
{% endif %}


<script>
    const fileInput = document.querySelector('#file-resume input[type=file]');
    fileInput.onchange = () => {
        const f_el = document.querySelector('#file-resume')
        if (fileInput.files.length > 0) {
            f_el.classList.remove('is-danger')
            const fileName = document.querySelector('#file-resume .file-name');
            fileName.textContent = fileInput.files[0].name;

            if (fileInput.files[0].size > 15 * 1024 * 1024) {
                f_el.classList.add('is-danger')
                fileName.textContent = 'File too large!';
                fileInput.value = ''
            }
        }
    }
</script>

{% endblock %}