{% extends "hacker/base.html" %}

{% block hacker_content %}

<h1 class="title">Application</h1>

{% if invites | length == 0 %}
<h2 class="subtitle">No invites at this time. Check back later!</h2>
{% else %}
<h2 class="subtitle">
    {{ invites|length }} invite{% if invites | length > 1 %}s{%endif%}
</h2>

{% for invite in invites %}
<div class="block box">
    <h3 class="is-size-3">{{ invite['service'] }}</h3>
    <p>
        {% if invite['code'] %}
            Invite code: <code>{{ invite['code'] }}</code><br/>
        {% endif %}
        {% if invite['link'] %}
            Link: <a href="{{ invite['link'] }}">{{ invite['link'] }}</a>
        {% endif %}
    </p>
</div>
{% endfor %}

{% endif %}
{% endblock %}
