{% extends "smallpage.html" %}

{% block pagecontent %}

<h1 class="title">Hack the Burgh 8 Registration</h1>
<h2 class="subtitle">{{ status }}</h2>
<p class="block">
    This is the main registration page for Hack the Burgh 8.
    Here you can submit your application, check on your
    application status, and view any invite codes you receive.
</p>

<p class="block">
    <div class="level">
        <div class="level-left"></div>
        <div class="level-right">
            <p class="has-text-right">
                <a href="{{ url_for('github.login') }}">
                    <span>Log in with Github</span>
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </a><br/>
                <a href="{{ url_for('mymlh.login') }}">
                    <span>Log in with MyMLH</span>
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </a>
            </p>
        </div>
    </div>
</p>

{% endblock %}

{% block footer %}
<a class="has-text-grey" href="{{ url_for('google.login') }}" class="button">Log in as admin</a>
{% endblock %}