{% extends "base.html" %}

{% block content %}

<div class="profile__bg {{ 'profile__bg--valid' if valid else ''}}">
    <div class="profile__block">
        <img src="{{ profile.image }}" alt="{{ profile.name }}" class="profile__img">
        <div class="profile__name">{{ profile.name }}</div>
        <div class="profile__status {{ 'profile__status--valid' if valid else 'profile__status--invalid' }}">
            {% if valid %}
                <i class="fas fa-check"></i>
                <span> verified compsoc committee member!</span>
            {% else %}
                <i class="fas fa-times"></i>
                <span> not a compsoc committee member.</span>
            {% endif %}
        </div>

        <a href="{{ url_for('auth.logout') }}" class="login row">
            <span>logout </span>
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</div>

{% endblock %}
